



<body>
{% extends "gameTemplate.html" %}

{% block content %}

<div class="container">
                <div id="game" class="content">
			<b id="welcome">Game Intructions</b>
                        <br>
                        <br>
                        <b><div id="scramWord">Word Scramble</div></b>
                        <br>
                        <div id="scoreText">You will be given a string of letters that have been scrambled from a full word. You must unscramble as many words as possible within the given time limit. After you will be able to add your name to the leader board to see where you rank!
		<br>
			HINT: The words relate to computing!</div>
                </div>
                        <br>





{% endblock content %}




</body>
